html {
    font-size: 62.5%;
}



#bodylogin {
    background-image: url(imagens/fundo_login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

figcaption {
    display: none;
}

#loginheadertransp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    background-color: #1A1B1F;
    border: 1px solid #26272B;
}

header img {
    width: 14vw;
    height: 6vh;
    padding: 5px;
}

figure {
    display: inline;
    margin: 0;
}

#calender {
    width: 3vw;
    height: 3vh;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header button {
    border: none;
    background: none;
    color: white;
}

.objectfit {
    object-fit: contain;

}

#btnroxo {
    background: #8162ff;
    width: 6vw;
    height: 4vh;
    border-radius: 10px;
}

#login {
    font-size: 4rem;
    height: 70vh;
    width: 70vh;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 5vw;
}


#mainindex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#secreservacalendario {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 1vw;
    gap:20px;

}

#reservacalendario main {
    gap: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#mainreservas {
    display: flex;
    flex-direction: column;
}

.btnsection {
    width: 20vw;
    height: 12vh;
    border-radius: 7px;
    border: none;
    color: white;
    background: #8162ff;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 1.5rem;
    color: white;
}

h1 {
    font-size: 2.4rem;
    color: white;

}

h2 {
    font-size: 1.7rem;

    color: white;

}

#subtitulo {
    font-size: 1.4rem;
    font-weight: 400;

}

input {
    background-color: #1A1B1F;
    border: none;
    height: 4vh;
    border-radius: 7px;
    width: 33vw;
}

#lupa {
    background: #8162ff;
    width: 2vw;
    height: 2.5vh;
    border-radius: 10px;
    padding: 0.5vw;

}



header div figure img {
    border-radius: 100%;
    width: 3.5vw;
    height: 6vh;
}

#agendamentos {
    color: rgb(100, 100, 100);
    font-weight: 600;
}

#bodyreservas {
    background-color: #141518;
    background-image: url(imagens/fundo.jpg);
    width: 100%;
    height: 74vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    font-family: 'Nunito';
}

#reservacalendario {
    background-color: #141518;
    margin: 0;
    font-family: 'Nunito';
}


#reservacalendario header {
    background-color: #141518;
}




#roxo {
    color: #8162ff;
    background-color: #7958fd80;
    width: 7vw;
    text-align: center;
    border-radius: 10px;
}

#preto {
    color: #5c5c5f;
    background-color: #26272B;
    width: 7vw;
    text-align: center;
    border-radius: 10px;
}


#fundocinza {
    width: 35.5vw;
    height: auto;
    background-color: #1A1B1F;
    border: 1px solid #26272B;
    border-radius: 10px;
}


#mainreservas article {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 3vw;
}


article img {
    border-radius: 100%;
    width: 4vw;
    height: 7vh;
}

#corteagendadovintage {
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: center;
    flex-direction: row;
    color: white;
    font-size: 1.5rem;
    gap: 10px;

}


.agendamento-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;


}

.agendamento-esquerda {
    margin-left: 1.5vw;
}

#datahora {
    text-align: center;
    border-left: 1px solid #26272B;
    padding: 1vw;
}

#dia6 {
    font-size: 4rem;
    padding: 0;
    color: white;
    margin-bottom: 30px;
}

.atcsec {
    position: relative;
    width: 100%;
    height: 38vh;
    border-radius: 10px;
    border: 1px solid #26272B;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

#atcsecimg1 {
    background: url(imagens/img1.jpg);
    overflow: hidden;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1A1B1F;

}

#atcsecimg2 {
    background: url(imagens/img2.jpg);
    overflow: hidden;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1A1B1F;

}

#atcsecimg3 {
    background: url(imagens/img3.jpg);
    overflow: hidden;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1A1B1F;

}


#atcsecimg4 {
    background: url(imagens/img4.jpg);
    overflow: hidden;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1A1B1F;

}

#atcsecimg5 {
    background: url(imagens/img5.jpg);
    overflow: hidden;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1A1B1F;

}

#atcsecimg6 {
    background: url(imagens/img6.jpg);
    overflow: hidden;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1A1B1F;

}

#atcsecimg7 {
    background: url(imagens/img7.jpg);
    overflow: hidden;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1A1B1F;

}

#atcsecimg8 {
    background: url(imagens/img8.jpg);
    overflow: hidden;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1A1B1F;

}

#atcsecimg9 {
    background: url(imagens/img9.jpg);
    overflow: hidden;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1A1B1F;

}

#atcsecimg10 {
    background: url(imagens/img10.jpg);
    overflow: hidden;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1A1B1F;

}

#atcsecimg11 {
    background: url(imagens/img11.jpg);
    overflow: hidden;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1A1B1F;

}

#atcsecimg12 {
    background: url(imagens/img12.jpg);
    overflow: hidden;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1A1B1F;

}

#atcsecimg13 {
    background: url(imagens/img13.jpg);
    overflow: hidden;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1A1B1F;

}




.atcsec p {
    font-size: 1rem;
}



.atcsec button {
    width: 100%;
    height: 5vh;
    background-color: rgb(43, 43, 43);
    color: white;
    border-radius: 7px;
    border: none;
}

 #bodyreservas section {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 15px;
}

.estrela {
    width: 2.2vw;
    height: auto;
}

.atcsec .rowestrela {
    position: absolute;
    top: 1vh;
    left: 1vh;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding: 0.5vw 1vw;
    background-color: #7958fd80;
    border-radius: 8px;
    height: 2.5vh;
}



.h1ep {
    margin-top: 20vh;
}


#backcinza {
    height: 100%;
    width: 100%;
    background-color: #141518;

}


footer {
    background-color: #1f2125;
    padding: 2vh;
    margin-top: 40px;
}

#sobrenos{
    width: 40vw;
    height: 108vh;
    border-radius: 10px;
    background: url(imagens/mapa.png);
    border: 20px solid #1f2125 ;
    background-size: 100% 40%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #1f2125;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobrenos div figure img {
    width: 4.5vw;
    height: 8vh;
    border-radius: 100%;
   
}




#vintagebarbermapa{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #1f2125;
    margin-top: 45%;
    width: 80%;
    height: auto;
border-radius: 8px ;

}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 1.5vh; 
    border-top: 1px solid #26272B;
    border-bottom: 1px solid #26272B;
}

.linha {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1vw; 
    padding: 1vh;
    border-radius: 10px;
}







#coluna h2,
#coluna p {
    margin: 0;
    padding: 0;
}
